#grid { 
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: column;
}
#grid > div {
    padding: .5em;
    background: gold;
    text-align: center;
}