@font-face {
    font-family: "Montserrat"; 
    src: url("fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
body{
    background-color: rgb(245, 246, 246);
    color: rgb(19, 18, 18);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
h1{
    color: rgb(92, 139, 104);
}
h2{
    color: rgb(130, 172, 140);
}
p{
    color: rgb(78, 67, 67);
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
ul{
    list-style-type: '~';
}
ol{
    list-style-type: upper-roman;
}