@font-face {
    font-family: "Montserrat"; 
    src: url("fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
body{
    background: linear-gradient(to left, #e7a4e2, #a0e2ce);
    color: rgb(19, 18, 18);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
h1{
    color: rgb(92, 139, 104);
}
h2{
    color: rgb(130, 172, 140);
}
img{
    width: 70px;
}
table{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    background-color: rgb(131, 167, 182);
    font-size: 20px;
}
th:hover{
    font-size: 22px;
    color: rgb(42, 54, 65);
}
td{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    font-size: 18px;
    background-color: rgb(163, 228, 188);
}
td:hover{
    font-size: 20px;
    border: 2px solid white;
    background-color: rgb(108, 163, 129);
}
