@font-face {
    font-family: "Montserrat"; 
    src: url("fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 246, 246);
    color: rgb(19, 18, 18);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover{
    color: rgb(75, 109, 172);
}
.header{
    width: 100%;
    text-align: center;
}
.content{
    width: 100%;
    max-width: 1800px;
    margin: auto;
}
.sprint_content{
    margin: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 6px 25px #d0d0d0;
    display: flex;
    flex-direction: column;
}
.sprint_header{
    width: 100%;
    text-align: left;
    margin: 10px 0;
}
.lessons{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.lesson_item{
    width: 23.5%;
    height: 150px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 6px 25px #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lesson_header{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
}
.lesson_content{
    font-size: 16px;
    line-height: 30px;
}
.lesson_content a{
    background-color: rgb(225, 238, 199);
    padding: 5px 50px;
    border-radius: 5px;
}
.lesson_content a:hover{
    box-shadow: 4px 6px 25px #d0d0d0; 
}
                    
            


