@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 246, 246);
    color: rgb(19, 18, 18);

    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, p {
    text-align: center;

    margin: 10px 0;
}

h2 {
    text-align: left;
    font-weight: bold;
    margin: 0 0 0 20px;
}

h3 {
    margin: 0 10px;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: rgb(245, 246, 246);
    position: sticky;
    top: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    margin: 0 auto;
}

/* Button */

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 29px;
    width: 96px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #02b3e4;
    background-color: white;
    color: rgb(47, 49, 54);
    font-weight: bold;
}

.btn:hover {
    border-color: #148BB1;
    box-shadow: 1px 2px 10px  #C8C8C8;
}

/* Navigation */

.nav-inner {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.nav-inner:hover {
    background-color: rgb(232, 243, 231);
}

.nav-title {
    width: 100%;
}

.second:hover {
    background-color: rgb(223, 230, 240);
}

/* Lesson card */

.nav-lesson {
    width: 270px;
    height: 135px;

    margin: 20px;
    padding: 10px;

    background-color: #fff;
    border-radius: 8px;

    box-shadow: 4px 6px 25px #d0d0d0;
}

.nav-lesson-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-lesson-head i {
    font-size: 18px;
}

.nav-lesson:hover {
    box-shadow: 2px 4px 6px #d0d0d0;
}

.nav-lesson-inner {
    width: 250px;

    margin-top: 30px;
    padding-top: 10px;

    border-top: 1px solid rgb(221, 214, 214);
}

.lesson-card-descr {
    color: rgb(59, 59, 161);
    margin-left: 50px;
}

/* Contact author icon */

.contact-me {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    animation: turning 3s linear infinite;
}

.contact-me i {
    font-size: 50px;
    color: #fff;
    transition: 0.3s ease;
}

@keyframes turning {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
  }

.contact-me:hover {
    width: 110px;
    height: 110px;
    background-color: rgb(97, 169, 228);
}

.contact-me:hover > i {
    font-size: 60px;
}

@media screen and (max-width: 992px) {
    .contact-me {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 576px) {
    .contact-me {
        top: 80vh;
        right: 40px;
    }
}